.card {box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
  0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

#cardImg {
  height: 200px;
  object-fit: cover;
}

.card:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.consultOption {
  text-align: center;
  background-color: #1f8592;
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
