<div class="main-container">
  <!-- Pills content -->
  <div class="tab-content">
    <div
      class="tab-pane fade show active"
      id="pills-login"
      role="tabpanel"
      aria-labelledby="tab-login"
    >
      <form [formGroup]="patientForm" (ngSubmit)="onSubmit()">
        <div class="form-outline mb-4">
          <input
            type="text"
            id="name"
            class="form-control"
            placeholder="Name"
            formControlName="name"
          />

          <span
            *ngIf="
              patientForm.controls['name'].invalid &&
              patientForm.controls['name'].touched
            "
            class="text-danger"
          >
            This field is required
          </span>
        </div>

        <!-- Email input -->
        <div class="form-outline mb-4">
          <input
            type="email"
            id="email"
            class="form-control"
            placeholder="Email"
            formControlName="email"
          />

          <div
            *ngIf="
              patientForm.controls['email'].invalid &&
              patientForm.controls['email'].touched
            "
          >
            <span
              *ngIf="patientForm.get('email')?.hasError('required')"
              class="text-danger"
            >
              This field is required
            </span>
            <span
              *ngIf="patientForm.get('email')?.hasError('email')"
              class="text-danger"
            >
              Enter a valid email
            </span>
          </div>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
          <input
            type="password"
            id="password"
            class="form-control"
            placeholder="password"
            formControlName="password"
          />
          <span
            *ngIf="
              patientForm.controls['password'].invalid &&
              patientForm.controls['password'].touched
            "
            class="text-danger"
          >
            Enter a valid password
          </span>
        </div>

        <div class="form-outline mb-4">
          <input
            type="number"
            step="0.01"
            id="height"
            class="form-control"
            placeholder="Height"
            formControlName="height"
          />
          <span
            *ngIf="
              patientForm.controls['height'].invalid &&
              patientForm.controls['height'].touched
            "
            class="text-danger"
          >
            This field is required
          </span>
        </div>

        <div class="form-outline mb-4">
          <input
            type="number"
            step="0.01"
            id="weight"
            class="form-control"
            placeholder="weight"
            formControlName="weight"
          />
          <span
            *ngIf="
              patientForm.controls['weight'].invalid &&
              patientForm.controls['weight'].touched
            "
            class="text-danger"
          >
            This field is required
          </span>
        </div>

        <div class="form-outline mb-4">
          <input
            type="number"
            id="age"
            class="form-control"
            placeholder="age"
            formControlName="age"
          />
          <span
            *ngIf="
              patientForm.controls['age'].invalid &&
              patientForm.controls['age'].touched
            "
            class="text-danger"
          >
            This field is required
          </span>
        </div>

        <div class="form-outline mb-4">
          <input
            type="text"
            id="profileImg"
            class="form-control"
            placeholder="Profile Image Link"
            formControlName="profileImg"
          />
          <span
            *ngIf="
              patientForm.controls['profileImg'].invalid &&
              patientForm.controls['profileImg'].touched
            "
            class="text-danger"
          >
            This field is required
          </span>
        </div>

        <!-- 2 column grid layout -->
        <div class="row mb-4">
          <div class="col-md-6 d-flex justify-content-center">
            <!-- Checkbox -->
            <div class="form-check mb-3 mb-md-0">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="loginCheck"
                checked
              />
              <label class="form-check-label" for="loginCheck">
                Remember me
              </label>
            </div>
          </div>

          <div class="col-md-6 d-flex justify-content-center">
            <!-- Simple link -->
            <a href="#!">Forgot password?</a>
          </div>
        </div>

        <!-- Submit button -->
        <button
          type="submit"
          class="btn btn-primary btn-block mb-4"
          [disabled]="patientForm.invalid"
        >
          Sign up
        </button>

        <!-- Register buttons -->
        <div class="text-center">
          <p>Have a account? <a [routerLink]="['/login']">Login</a></p>
        </div>
      </form>
    </div>
  </div>
</div>
